
# Junk files
*~
.DS_Store
.flattened-pom.xml
*/.flattened-pom.xml

# Build
target/
bin/
build/
node_modules/
module-lib/target/
module-gui/target/
module-base/target/


# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
.idea
*.iml

